

*{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

header{
    height: 80vh;
    background-image: url(../assets/images/encabezado.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
    animation: slideIn 2.5s ease-out forwards;
    transform: translateX(-100%);

}

.nav-header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 60px;
    gap: 70%;
    animation: fadeInUp 4.5s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}

.ancla-nav{
    color: #BCBAC3;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 40px;
}

a:hover {
    color: white;
}

.logo-nav{
    width: 100px;
    height: 100px;
}

.title-header{
    color: #fff;
    font-size: 80px;
    white-space: pre-wrap;
    padding-top: 40px;
    margin-left: 8%;    
    animation: slideIn 3s ease-in-out forwards;
    transform: translateX(-100%);
}

.title-header:hover {
    appearance: 100%;
}




.paragraph-header{
    width: 45%;
    color: #fff;
    margin-left: 9%; 
    margin-top: 40px;
    margin-bottom: 3px;
    line-height: 29px;
    font-size: 21.3px;
    animation: slideIn 4s ease-in-out forwards;
    transform: translateX(-100%);
}

.paragraph-header2{
    width: 48%;
    color: #fff;
    margin-left: 9%; 
    font-size: 21.3px;
    animation: slideIn 4s ease-in-out forwards;
    transform: translateX(-100%);
}

.btn-header{
    background-color: #00FFAD;
    color: #17213be9;
    width: 170px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 9%;
    cursor:pointer;
    transition:
    width 2s,
    height 2s,
    background-color 1s,
    rotate 2s;
    animation: slideIn 4.2s ease-in-out forwards;
    transform: translateX(-200%);
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}


.btn-header:hover {
    color: #fff;
    background-color: #0062ff30;
    width: 200px;
    height: 70px;
    rotate: 360deg;
}


.firstSection{
    width: 100%;
    height: 70vh;
}

.title-FirstSection{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 50px;
    font-weight: bolder;
    animation: fadeInUp 4s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}



.img-Body{
    height: 12rem;
}

#logo1{
    animation: fadeInUp 1.5s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}
#logo2{
    animation: fadeInUp 2.5s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}
#logo3{
    animation: fadeInUp 3.5s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logosBody{
    display: flex;
    justify-content: center;
    gap: 260px;
    margin-top: 3rem;
    
}

.subtitles-body{
    display: flex;
    justify-content: center;
    gap: 290px;
    list-style: none;
    animation: fadeInUp 1s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}
.li-body{
    color: #00000093;
    font-size: 30px;
    animation: fadeInUp 2s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}


.texts-body{
    display: flex;
    justify-content: center;
    gap: 50px;
    animation: fadeInUp 2s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);    
}

.P-textsBody{
    color: #000000d6;
    font-size: 20px;
    font-weight: lighter;
    width: 26rem;
    text-align: center;
    margin-top: 15px;
    animation: fadeInUp 1s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}

.secondSection{
    width: 100%;
    height: 110vh;
    background: linear-gradient(168deg, #ffffff 30%, #00FFAD 0);
}

.title1SecondSection{
    font-size: 60px;
    font-weight: bolder;
    position: relative;
    top: 1rem;
    margin-left: 10rem;
    animation: slideIn 3.5s ease-out forwards;
    transform: translateX(100%);
}

.textSecondSection{
    font-size: 20px;
    width: 32rem;
    margin-top: 4rem;
    margin-left: 10rem;
    animation: slideIn 3.5s ease-out forwards;
    transform: translateX(100%);
}

.text2SecondSection{
    font-size: 20px;
    width: 43rem;
    margin-left: 10rem;
    animation: slideIn 4s ease-out forwards;
    transform: translateX(100%);
}

.btn-SecondSection{
    background-color: #192440;
    color: #fff;
    width: 170px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;    
    margin-left: 10rem;
    margin-top: 4rem;
    position: absolute;
    animation: slideIn 5s ease-out forwards;
    transform: translateX(400%);
}   

.img-laptop{
    position: relative;
    left: 60rem;
    bottom: 11rem;
    animation: fadeInUp 2s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}


.secondPart{
    width: 100%;

}

.title2SecondSection{
    font-size: 60px;
    width: 30rem;
    font-weight: bolder;
    margin-left: 59rem;
    animation: slideIn 2.5s ease-out forwards;
    transform: translateX(-100%);
}

.textSecondPart{
    font-size: 20px;
    width: 37rem;
    margin-top: 2rem;
    margin-left: 59rem;
    animation: slideIn 3.5s ease-out forwards;
    transform: translateX(-100%);
}

.text2SecondPart{
    font-size: 20px;
    margin-left: 59rem;
    width: 28rem;
    animation: slideIn 4s ease-out forwards;
    transform: translateX(-100%);
}

.btn-SecondSection2{
    background-color: #192440;
    color: #fff;
    width: 170px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;    
    margin-left: 10rem;
    margin-top: 3rem;
    position: absolute;
    left: 46%;
    animation: slideIn 4s ease-out forwards;
    transform: translateX(-600%);
}

.img-tablet{
    position: absolute;
    top: 220%;
    left: 12%;
    animation: fadeInUp 2s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}

.thirdSection{
    width: 100%;
    height: 100vh;
}

.titleThirdSection{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 8%;
    opacity: 0;
    animation: fadeInTitle 3s ease-in-out forwards; 
}
@keyframes fadeInTitle {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


.cards{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 5rem;
}
.card1{
    width: 20%;
    height: 30rem;
    animation: slideIn s ease-out forwards;
    transform: translateX(90%);
}   

.titlecard1{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 30px;
    font-weight: bolder;
}



.price{
    text-align: center;
    font-size: 17px;
    margin-top: 1rem;
    font-weight: bolder;
}

.spanPrice{
    font-size: 90px;
    letter-spacing: 0px;
}

.liCard{
    text-align: center;
    list-style: none;
    font-size: 16px;
    line-height: 2rem;
    font-weight: lighter;
}

.btn-ThirdSection{
    background-color: transparent;
    color: #192440;
    border-color: #192440;
    width: 140px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border-width: 3px;
    border: solid;
    border-radius: 50px;
    cursor: pointer; 
    margin-top:3rem ;
    margin-left: 30%;
}



.card2{
    color: #fff;
    background-color: #192440;
    width: 20%;
    height: 30rem;
    border-radius: 5px;
    animation: fadeInUp 2s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}

.btn-ThirdSectionPremium{
    background-color: #00FFAD;
    color: #192440;
    width: 140px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer; 
    margin-top:3rem ;
    margin-left: 30%;
}
.card3{
    width: 20%;
    height: 30rem;
    animation: slideIn 4s ease-out forwards;
    
    transform: translateX(-90%);
}

.btn-ThirdSectionProfessional{
    background-color: transparent;
    color: #192440;
    border-color: #192440;
    width: 140px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border-width: 3px;
    border: solid;
    border-radius: 50px;
    cursor: pointer; 
    margin-top:3rem ;
    margin-left: 25%;
}

.fourthSection{
    width: 100%;
    height: 11rem;
    background-color: #ECEEEF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.logosFourthSection{
    height: 5rem;
}

#logosFourthSection1{
    animation: fadeInUp 2.5s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}
#logosFourthSection2{
    animation: fadeInUp 3.5s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}
#logosFourthSection3{
    animation: fadeInUp 4.5s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}
#logosFourthSection4{
    animation: fadeInUp 5.5s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}
#logosFourthSection5{
    animation: fadeInUp 6.5s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}
#logosFourthSection6{
    animation: fadeInUp 7.5s ease-in-out both;
    opacity: 0;
    transform: translateY(50px);
}

